<div class="page-content flex-container" fxLayout="column" fxLayoutAlign="center center">
  <h4>Training</h4>
  <div>
      <md-input-container fxFlex>
        <input md-input
               [(ngModel)]="params.epsilon"
               placeholder="epsilon"
               type="number"
               step="0.000001">
      </md-input-container>
      <md-input-container fxFlex>
        <input md-input
               [(ngModel)]="params.window"
               placeholder="window"
               type="number">
      </md-input-container>
      <md-input-container fxFlex>
        <input md-input
               [(ngModel)]="params.nbMaxIterations"
               placeholder="nbMaxIterations"
               type="number">
      </md-input-container>
    <button fxFlex fxFlexOffset="20px" md-mini-fab color="primary" (click)="help=!help"><strong>?</strong></button>
  </div>
  <md-card *ngIf="help">
    <p class="small">
      Ces 3 paramètres définissent les conditions d'arrêt de l'entraînement.<br>
      Si <strong>'nbMaxIterations'</strong> est supérieur à 0, une vérification sera faite sur le nombre d'itérations.<br>
      Ensuite une vérification est faite sur un nombre <strong>'window'</strong> d'itérations, si la différence entre les obj dépasse <strong>'epsilon'</strong> sur cette période, le training est terminé.
    </p>
  </md-card>
  <div>
    <md-checkbox color="primary" [(ngModel)]="evaluation"><h4>Evaluation</h4></md-checkbox>
  </div>
  <div *ngIf="evaluation">
    <md-input-container fxFlex>
      <input md-input
             [(ngModel)]="params.splitRatio"
             placeholder="splitRatio"
             type="number"
             step="10">
      <span md-suffix>%</span>
    </md-input-container>
    <md-checkbox fxFlex fxFlexOffset="20px" color="primary" [(ngModel)]="params.splitRandom">Random</md-checkbox>
  </div>
  <div>
    <button fxFlex md-raised-button color="primary" [disabled]="!ready || training" (click)="toggle()">Start</button>
    <button fxFlex md-raised-button color="warn" [disabled]="!ready || !training" (click)="toggle()">Stop</button>
  </div>
  <div class="console">
    {{ logs }}
  </div>
</div>
