:host {
}

.file-item {
  position: relative;
}

.file-icon {
  color: #aaa;
}

.disabled {
  opacity: 0.5;

  .file-icon {
    color: #eee;
  }
  .file-name {
    color: #999;
  }
}

.not-clickable {
  cursor: default;
}

[md-raised-button] {
  box-shadow: none;
}
