:host {
}

.file-item {
  position: relative;
}

.file-icon {
  color: #aaa;
}

.disabled {
  opacity: 0.5;

  .file-icon {
    color: #eee;
  }
  .file-name {
    color: #999;
  }
}

.not-clickable {
  cursor: default;
}

[md-raised-button] {
  box-shadow: none;
}

.stats {
  margin-top: 6px;

  p {
    font-size: 10px;
    padding: 0;
    margin: 0;
    padding-left: 4px;
  }

  .indent1 {
    left: 70px;
    position: absolute;
  }
  .indent2 {
    left: 120px;
    position: absolute;
  }
}
