:host {
  position: absolute;
  width: 100%;
  height: calc(100% - 260px);
}

.flex-container {
  height: 100%;
}

#list {
  height: 100%;
  min-width: 244px;
  display: inline-block;
}

#tabs {
  height: 100%;
  overflow: hidden;
}

md-list-item {
  border-bottom: 1px solid #e0e0e0;
}

.md-tab-body-content {
  height: 100%;
}

.console {
  width: inherit;
  height: calc(100% - 23px);
}
