:host {
  z-index: 100;
  position: relative;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }

  .logo {
    text-decoration: none;
    margin-right: 10px;
  }
}

.flex-spacer {
  flex-grow: 1;
}

