/* hacks temporaires pour palier à la stabilité de la lib material 2 */

md-toolbar [md-button] {
	margin-top: 20px;
}

md-toolbar #logo {
	margin-right: 20px;
}

.md-menu-panel.md-menu-after.md-menu-below {
	margin-top: 42px;
}

.page-content {
  padding: 20px 10px;
}

.md-tab-body-content {
  height: 100%;
}
